* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
  
.progress-bar {
    position: fixed;
    z-index: 2;
    top: 75px;
    left: 0;
    right: 0;
    height: 10px;
    background: red;
    transform-origin: 0%;
  }
  